@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* Primary */
$Colour-Purple: hsl(249, 99%, 64%);
$Colour-Dark-Purple: hsl(278, 94%, 30%);
$Colour-Linear-gradient: linear-gradient(
  90deg,
  $Colour-Purple 0%,
  $Colour-Dark-Purple 100%
); /* (active input border)*/
// background: hsla(94, 100%, 70%, 1);

// background: linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);

// background: -moz-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);

// background: -webkit-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);

// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A9FF68", endColorstr="#FF8989", GradientType=1 );
$Colour-Red: hsl(0, 100%, 66%); /*input errors*/
/* Neutral */
$Colour-White: hsl(0, 0%, 100%);
$Colour-Light-grayish-violet: hsl(270, 3%, 87%);
$Colour-Dark-grayish-violet: hsl(279, 6%, 55%);
$Colour-Very-dark-violet: hsl(278, 68%, 11%);

$border-radius: 7px;
$card-spacing: 164px;
$card-overflow-height: 44px;

$Font: 'Space Grotesk', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$screen-1412: 1412px;
$screen-1105: 1105px;

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $Colour-White;

  display: flex;
  align-items: center;

  font-size: 18px;
  font-family: $Font;
  font-weight: 500;
  color: $Colour-Very-dark-violet;

  .left {
    position: relative;
    height: 100vh;

    #left-bg {
      height: 100%;
    }

    .dummy-card {
      position: absolute;
      color: $Colour-White;
    }

    #card-front {
      top: 187px;
      left: $card-spacing;

      .card-container {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 28px 32px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h5 {
          font-size: 28px;
          letter-spacing: 3px;
          margin-bottom: 32px;
        }

        .bottom-of-card {
          display: flex;
          justify-content: space-between;
          width: 100%;

          p {
            letter-spacing: 2px;
            font-size: 14px;
          }
        }
      }
    }

    #card-back {
      top: 469px;
      left: 258px;
    }

    #left-bg-mobile {
      display: none;
    }

    // @media screen and (max-width: $screen-mobile) {
  }

  .right {
    flex: 1;
    height: 100vh;

    // display: flex;
    // align-items: center;
    // justify-content: center;

    position: relative;

    form,
    .complete-state {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $card-spacing;
      max-width: 380px;
    }

    form {
      display: none;

      .field {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;

        label {
          color: $Colour-Dark-Purple;
        }

        input {
          margin: 12px 0px;
          width: 100%;
          padding: 14px;

          border-radius: $border-radius;
          border: solid $Colour-Dark-grayish-violet 2px;

          color: $Colour-Very-dark-violet;
          font-family: $Font;

          &:focus {
            border-color: $Colour-Dark-Purple;
            outline: none;
          }

          &:placeholder-shown {
            color: $Colour-Dark-grayish-violet;
          }
        }

        .double-input {
          display: flex;

          input:first-of-type {
            margin-right: 10px;
          }
        }

        .input-err {
          color: $Colour-Red;
          font-size: 12px;
          letter-spacing: 1px;
          display: none;
        }

        &[data-err] .input-err {
          display: block;
        }
      }

      .extra-numbers {
        display: flex;

        .field:first-of-type {
          margin-right: 20px;
        }
      }

      button {
        padding: 16px 0px;
        width: 100%;
        border-radius: $border-radius;
        border: none;
        cursor: pointer;
        background-color: $Colour-Very-dark-violet;

        font-family: $Font;
        font-size: 18px;
        color: $Colour-White;
      }
    }

    .complete-state {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .attribution {
      margin: 28px 0;
      font-size: 11px;

      a {
        color: $Colour-Red;
      }
    }
  }

  @media screen and(min-width: 933px) and (max-width: 1260px) {
    .left {
      .dummy-card {
        left: 463px - 420px !important;
        // left: clamp(16px, 11.38vw, 164px);
      }
    }

    .right {
      form,
      .complete-state {
        right: 463px - 420px !important;
      }
    }
  }

  @media screen and (max-width: 933px) {
    flex-direction: column;
    align-items: center;

    .left {
      width: 100vw;
      height: auto;

      .cards {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 620px;
        height: auto;
        width: 100%;
      }

      #left-bg {
        display: none;
      }

      #left-bg-mobile {
        display: block;
        width: 100%;
      }

      .dummy-card {
        width: 286px;
        img:not(#card-logo) {
          width: 100%;
        }
      }

      $card-offset: 56px;

      #card-front {
        top: auto;
        bottom: -$card-overflow-height;
        left: 16px;
        // transform: translateX(-50%);
        // transform: translateX(-50%);
        height: auto;
        z-index: 1;

        .card-container {
          padding: 18px;
          height: 157px;

          #card-logo {
            width: 56px;
          }

          h5 {
            font-size: 18px;
            margin-bottom: 18px;
            letter-spacing: 1px;
          }

          .bottom-of-card p {
            font-size: 10px !important;
          }
        }
      }

      #card-back {
        left: auto;
        right: 16px;
        bottom: 52px;
        top: auto;
      }
    }

    .right {
      flex: none;
      height: auto;
      margin-top: $card-overflow-height + 48px;

      form,
      .complete-state {
        padding: 0 16px;
        width: 100%;
        position: static;
        transform: none;

        .field label {
          font-size: 12px;
        }
      }
    }
  }
}
