@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* Primary */
$Colour-Purple: hsl(249, 99%, 64%);
$Colour-Dark-Purple: hsl(278, 94%, 30%);
$Colour-Linear-gradient: linear-gradient(
  $Colour-Purple,
  $Colour-Dark-Purple
); /* (active input border)*/
$Colour-Red: hsl(0, 100%, 66%); /*input errors*/
/* Neutral */
$Colour-White: hsl(0, 0%, 100%);
$Colour-Light-grayish-violet: hsl(270, 3%, 87%);
$Colour-Dark-grayish-violet: hsl(279, 6%, 55%);
$Colour-Very-dark-violet: hsl(278, 68%, 11%);

$border-radius: 7px;

$Font: 'Space Grotesk', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$screen-1345: 1345px;
$screen-1105: 1105px;
$screen-mobile: 1008px+16px;

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $Colour-White;

  display: flex;
  align-items: center;

  font-size: 18px;
  font-family: $Font;
  font-weight: 500;
  color: $Colour-Very-dark-violet;

  .left {
    position: relative;
    height: 100vh;

    #left-bg {
      height: 100%;
    }

    .dummy-card {
      position: absolute;
      color: $Colour-White;

      @media screen and (max-width: $screen-1105) {
        left: 164px !important;
      }
    }

    #card-front {
      top: 187px;
      left: 164px;

      .card-container {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 28px 32px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h5 {
          font-size: 28px;
          letter-spacing: 3px;
          margin-bottom: 32px;
        }

        .bottom-of-card {
          display: flex;
          justify-content: space-between;
          width: 100%;

          p {
            letter-spacing: 2px;
            font-size: 14px;
          }
        }
      }
    }

    #card-back {
      top: 469px;
      left: 258px;
    }

    #left-bg-mobile {
      display: none;
    }

    @media screen and (max-width: $screen-mobile) {
      width: 100vw;
      height: auto;

      #left-bg {
        display: none;
      }

      #left-bg-mobile {
        display: block;
        width: 100%;
      }

      .dummy-card {
        top: 0;
      }

      #card-front {
        bottom: 0;
      }
    }
  }

  .right {
    flex: 1;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    form {
      position: relative;
      max-width: 380px;

      .field {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;

        label {
          color: $Colour-Dark-Purple;
        }

        input {
          margin: 12px 0px;
          width: 100%;
          padding: 14px;

          border-radius: $border-radius;
          border: solid $Colour-Dark-grayish-violet 1px;

          color: $Colour-Very-dark-violet;
          font-family: $Font;

          &:focus {
            border-color: $Colour-Linear-gradient;
            outline: none;
          }

          &:placeholder-shown {
            color: $Colour-Dark-grayish-violet;
          }
        }

        .double-input {
          display: flex;

          input:first-of-type {
            margin-right: 10px;
          }
        }

        .input-err {
          color: $Colour-Red;
          font-size: 12px;
          letter-spacing: 1px;
          display: none;
        }
      }

      .extra-numbers {
        display: flex;

        .field:first-of-type {
          margin-right: 20px;
        }
      }

      button {
        padding: 16px 0px;
        width: 100%;
        border-radius: $border-radius;
        border: none;
        cursor: pointer;
        background-color: $Colour-Very-dark-violet;

        font-family: $Font;
        font-size: 18px;
        color: $Colour-White;
      }

      @media screen and (max-width: $screen-1345) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 250px;
      }

      @media screen and (max-width: $screen-1105) {
        left: 163px;
      }
    }
    .attribution {
      margin-top: 28px;
      font-size: 11px;

      a {
        color: $Colour-Red;
      }
    }
  }

  @media screen and (max-width: $screen-mobile) {
    flex-direction: column;
    align-items: center;
  }
}
