@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/* Primary */
/* (active input border)*/
/*input errors*/
/* Neutral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #21092f;
}

body .left {
  position: relative;
  height: 100vh;
}

body .left #left-bg {
  height: 100%;
}

body .left .dummy-card {
  position: absolute;
  color: white;
}

@media screen and (max-width: 1105px) {
  body .left .dummy-card {
    left: 164px !important;
  }
}

body .left #card-front {
  top: 187px;
  left: 164px;
}

body .left #card-front .card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

body .left #card-front .card-container h5 {
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 32px;
}

body .left #card-front .card-container .bottom-of-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body .left #card-front .card-container .bottom-of-card p {
  letter-spacing: 2px;
  font-size: 14px;
}

body .left #card-back {
  top: 469px;
  left: 258px;
}

body .left #left-bg-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  body .left {
    width: 100vw;
    height: auto;
  }
  body .left #left-bg {
    display: none;
  }
  body .left #left-bg-mobile {
    display: block;
    width: 100%;
  }
  body .left .dummy-card {
    top: 0;
  }
  body .left #card-front {
    bottom: 0;
  }
}

body .right {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body .right form {
  position: relative;
  max-width: 380px;
}

body .right form .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

body .right form .field label {
  color: #600594;
}

body .right form .field input {
  margin: 12px 0px;
  width: 100%;
  padding: 14px;
  border-radius: 7px;
  border: solid #8e8593 1px;
  color: #21092f;
  font-family: "Space Grotesk", sans-serif;
}

body .right form .field input:focus {
  border-color: linear-gradient(#6448fe, #600594);
  outline: none;
}

body .right form .field input:placeholder-shown {
  color: #8e8593;
}

body .right form .field .double-input {
  display: flex;
}

body .right form .field .double-input input:first-of-type {
  margin-right: 10px;
}

body .right form .field .input-err {
  color: #ff5252;
  font-size: 12px;
  letter-spacing: 1px;
  display: none;
}

body .right form .extra-numbers {
  display: flex;
}

body .right form .extra-numbers .field:first-of-type {
  margin-right: 20px;
}

body .right form button {
  padding: 16px 0px;
  width: 100%;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #21092f;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 1345px) {
  body .right form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 250px;
  }
}

@media screen and (max-width: 1105px) {
  body .right form {
    left: 163px;
  }
}

body .right .attribution {
  margin-top: 28px;
  font-size: 11px;
}

body .right .attribution a {
  color: #ff5252;
}

@media screen and (max-width: 1024px) {
  body {
    flex-direction: column;
    align-items: center;
  }
}
